{% extends 'base.html.twig' %}

        {% block metatitle %}
        <title>Create-category</title>
        {% endblock metatitle %}

{% block main %}
<main>

	<h1>Créer une catégorie</h1>
    {{ form(categoryForm) }}


</main>
{% endblock main %}
