{% extends 'base.html.twig' %}

        {% block metatitle %}
        <title>Home</title>
        {% endblock metatitle %}

{% block main %}
<main>

	<h1>Blog de la piscine</h1>

</main>
{% endblock main %}